.img-and-logo {
    width: 1060px;
    height: 175px;
    /* Colore copiato con ispector */
    background-image: url('../img/img/pattern.png');
    background-color: hsl(212deg 100% 65%);
    margin-bottom: 20px;
}

#logo {
    width: 200px;
    padding-top: 110px;
    padding-left: 20px;
}

/* Non assegnamo né una class, nè un id perché nell'intero layout ci sarà solo un h1 */
h1 {
    font-size: 40px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;  
}

#tim {
    color: #535050;
    margin-top: 20px;
}

#the-booleaner {
    color: hsl(212deg 100% 65%);
}

h6, h5 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}





