body {
    width: 1060px;
}
.img-and-logo {
    /* Colore copiato con ispector */
    background-image: url('../img/img/pattern.png');
    background-color: hsl(212deg 100% 65%);
    margin-bottom: 20px;
}

#logo {
    width: 200px;
    padding-top: 110px;
    padding-left: 20px;
}

/* Non assegnamo né una class, nè un id perché nell'intero layout ci sarà solo un h1 */
h1 {
    font-size: 40px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;  
}

#tim, #interesting {
    color: #535050;
    margin-top: 20px;
}

#the-booleaner {
    color: hsl(212deg 100% 65%);
}

h6 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em; 
}

h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    color: hsl(0deg 0% 59%);
}

#highlight1, #highlight2 {
    background-color: yellow;
}

th {
    color: white;
    background-color: hsl(212deg 100% 65%);
    width: 260px;
}

#th3 {
    width: 540px;
}

#table-row-1, #table-row-3 {
    background-color: hsl(192deg 71% 82%);
}

.square-img1 {
    background-image: url('../img/img/monitor.jpg');
    background-size: cover;
    width: 210px;
    height: 160px;
    color: white;
    display: block;
}

.square-img2 {
    background-image: url('../img/img/graph.jpg');
    background-size: cover;
    width: 210px;
    height: 160px;
    color: white;
}

#centered-text {
    padding-left: 10px;
    padding-top: 15px;
    font-weight: bold;
}








